.meal-item {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.meal-name {
  color: var(--prim-acc);
  /* font-weight: 700; */
}

.meal-info {
  font-size: 0.85rem;
  font-weight: 300;
}

.meal-price {
  font-weight: 600;
}
