.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 85%;
  /* height: 25vh; */

  border: var(--btn-border);
  margin: 0.5rem 0;
  padding: 1rem;
}

.cart-item-info {
  /* font-size: 0.45rem; */
}
.meal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.input {
  /* width: 100%; */
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
}

.cart-item-subtotal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  font-size: 0.85rem;
}

.label {
  font-size: 0.75rem;
  font-weight: 200;
  text-transform: uppercase;
}

.input {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1rem;
  font-family: inherit;
  color: var(--sec-acc);
  border: none;
}

.cart-item-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item-qty-controls {
}

.qty-btn {
  width: 2rem;
  height: 2rem;
  font-weight: 300;
  font-size: inherit;
  letter-spacing: inherit;
}

.inc-btn {
  border-left: none;
}

.dec-btn {
}

.cart-item-rmv-control {
}

.rmv-btn {
  height: 2rem;
  width: 4rem;
  font-weight: 300;
  font-size: inherit;
  letter-spacing: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 200;
}

.hidden {
  display: none;
}
