.cart-item-controls {
  display: flex;
  justify-content: space-between;
}

.inc-btn,
.dec-btn {
  width: 1.5rem;
  height: 1.5rem;
  font-weight: 300;
  font-size: inherit;
}

.rmv-btn {
  height: 1.5rem;
  font-weight: 300;
  font-size: inherit;
}
