.container {
  overflow-y: scroll;

  background-color: var(--menu-color);
  color: var(--sec-acc);
  width: 25vw;
  min-height: 45vh;
  max-height: 90vh;

  border-radius: 1rem;

  position: absolute;
  right: -100vw;
  top: 10vh;
}
