.container {
  background-color: var(--menu-color);
  color: var(--sec-acc);
  width: 75vw;
  height: 85vh;
  padding: 1.5rem;
  top: 8vh;
  left: 12.5vw;
  border-radius: 1rem;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-items {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  height: 100%;
}

.cart-actions {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.resume-btn {
  height: 2rem;
  width: 100%;
  font-weight: 300;
  font-size: inherit;
  letter-spacing: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
}
